{% load static %}
<html>
    <title>Курсы</title>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="{% static 'Application/styles/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="card" style="width: 14em;">
            <img src="https://sun1.is74.userapi.com/impg/5gxhHzi5xeHm9T1jwAxvnNL6NuE-zfoJTTm2Og/--dPVfaNDpM.jpg?size=0x160&crop=0,0,1,1&quality=95&sign=3aacd46362e22c259b18896632fb1ab6" width="160" height="160">
            <div class="card-body">
                <h5 class="card-title">Индивидуальные занятия</h5>
                <p class="card-text">Курс позволит ребёнку сдать ОГЭ минимум на оценку 5, всего за 1000 рублей</p>
                <a href="https://vk.com/public214756121?w=product-214756121_9154650%2Fquery" class="btn btn-primary">Форма для заявки</a>
            </div>
        </div>
        <footer class="footer">
            <div class="text-center">
                <a href="http://127.0.0.1:8000">Домашняя страница</a>
            </div>
        </footer>
    </body>
</html>


